

<div class="card" ng-controller="MethodsCtrl">
  <div class="item item-divider">
    Voiture endommagée
  </div>
  <div class="item item-text-wrap">
    Si votre véhicule a été endommagée lors du remorquage, nous vous prions de communiquer avec nous afin de nous faire part de la situation.
  </div>
  <div class="item item-divider">
	<div class="row">
	  <div class="col"><a href="tel:18475555555" class="button icon-left ion-ios7-telephone">Appelez-nous</a></div>
	  <div class="col"><button ng-click="openMessageForm()" class="button icon-left ion-edit">Écrivez-nous</button></div>
	</div>
  </div>
</div>