	
		<div class="col col-image">
			<div>
				<div class="square-img-240">
					<img ng-src="{{car.imageURL}}" ng-model="car.imageURL" />		
				</div>
				<button ng-click="requestCamera()" id="camera" class="button icon ion-camera"></button>
				<button ng-click="requestFileBrowser()" id="browse-photo" class="button icon ion-ios7-folder"></button>
			</div>
		</div>

		<div class="col col-fields">

			<div class="list">
			  <label class="item item-input item-stacked-label">
			    <input type="text" required ng-model="car.name" ng-pattern="/^[\w\-\s]+$/" ng-maxlength="75" value="{{car.name}}" placeholder="Nom">
			  </label>
			  <label class="item item-input item-stacked-label">
			    <input type="text" required ng-model="car.registration" ng-minlength="3" ng-pattern="/^[\w\-\s]+$/" ng-maxlength="8" value="{{car.registration}}" placeholder="No. Plaque">
			  </label>
			</div>

		</div>
