	
		<div class="col col-image">
			<div>
				<div class="square-img">
					<img ng-src="{{car.imageURL}}" />		
				</div>
				<button ng-click="requestCamera()" id="camera" class="button icon ion-camera"></button>
				<button ng-click="requestFileBrowser()" id="browse-photo" class="button icon ion-ios7-folder"></button>
			</div>
		</div>

		<div class="col">

			<div class="list">
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Nom</span>
			    <input type="text" required ng-model="car.name" ng-pattern="/^[\w\-\s]+$/" ng-maxlength="75" placeholder="{{car.name}}">
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">No. Plaque</span>
			    <input type="text" required ng-model="car.registration" ng-minlength="3" ng-pattern="/^[\w\-\s]+$/" ng-maxlength="8" placeholder="{{car.registration}}">
			  </label>
			</div>

		</div>
