<div ng-controller="NewCtrl as newCarCtrl" class="padding show-car">
	<form name="form" novalidate>
		<div class="row" ng-include="'/views/car/_form.html'">

		</div>


		<div class="row actions">
			<div class="list">


				<button ng-click="requestCreate()" ng-disabled="form.$invalid" class="button icon-right ion-checkmark-circled">
					Créer
				</button>

				<button ng-click="cancel()" class="button icon-right ion-ios7-close-empty">
					Annuler
				</button>

			</div>

		</div>
	</form>
	
</div>