<div ng-controller="ShowCtrl as carShowCtrl" class="padding show-car">
	<form name="form" novalidate>
		<div class="row" ng-include="'/views/car/_form.html'">

		</div>

		<div class="row status">
			<div ng-show="!car.towed" ng-model="car.towed" class="card">
			  <div class="item item-text-wrap">
			    État : Non remorqué
			  </div>
			</div>


			<div class="card" ng-show="car.towed" ng-model="car.towed" >
				<div class="item item-divider">
					 <i class="icon ion-alert-circled"></i> Voiture remorquée !
				</div>
				<div class="item item-divider">
					<button ng-click="showTowing()" class="button icon-right ion-information-circled button-block">
						Information sur le remorquage
					</a>
				</div>
			</div>

		</div>


		<div class="row actions">
			<div class="list">

				<button ng-click="requestSave()" ng-disabled="form.$invalid" class="button icon-right ion-checkmark-circled">
					Sauvegarder
				</button>

				<button ng-click="requestDelete()" class="button icon-right ion-trash-a">
					Supprimer
				</button>

			</div>

		</div>
	</form>
	
</div>