<div ng-controller="ShowCtrl as carShowCtrl" class="padding show-car">
	<form name="form" novalidate>
		<div class="row" ng-include="'/views/car/_form.html'">

		</div>

		<div class="row status">
			<div class="card">
			  <div class="item item-text-wrap">
			    État : Non remorqué
			  </div>
			</div>

		</div>


		<div class="row actions">
			<div class="list">

				<button ng-click="requestSave()" ng-disabled="form.$invalid" class="button icon-right ion-checkmark-circled">
					Sauvegarder
				</button>

				<button ng-click="requestDelete()" ng-disabled="form.$invalid" class="button icon-right ion-trash-a">
					Supprimer
				</button>

			</div>

		</div>
	</form>
	
</div>