<div ng-controller="ShowCtrl as carShowCtrl" class="padding show-car">
	<form name="form" novalidate>
		<div class="row" ng-include="'/views/car/_form.html'">

		</div>

		<div class="row status">
			<div ng-hide="car.towed != false" ng-model="car.towed" class="card">
				<div class="item item-text-wrap">
					<i class="icon ion-ios7-checkmark"></i>
					État : Non remorqué
				</div>
			</div>


			<div class="card" ng-hide="car.towed != true" ng-model="car.towed" >
				<div class="item item-divider">
					 <i class="icon ion-alert-circled"></i> Voiture remorquée !
				</div>
				<div class="item item-divider">
					<button ng-click="showTowing()" class="button button-assertive icon-right ion-information-circled button-block">
						Information sur le remorquage
					</a>
				</div>
			</div>



			<div class="card" ng-hide="car.towed != null" ng-model="car.towed" >
				<div class="item item-divider">
					 <i class="icon ion-help-circled"></i> État non disponible.
				</div>
				<div class="item item-text-wrap">
					Veuillez vérifier votre connexion réseau.
				</div>
			</div>

		</div>


		<div class="row actions padding">
			<div class="list">

				<button ng-click="requestSave()" ng-disabled="form.$invalid" class="button icon-right ion-checkmark-circled">
					Sauvegarder
				</button>

				<button ng-click="requestDelete()" class="button icon-right ion-trash-a">
					Supprimer
				</button>

			</div>

		</div>
	</form>
	
</div>