<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <title>Inforemorquage</title>

  <link rel="stylesheet" href="/vendor/ionic/css/ionic.css" />
  <link rel="stylesheet" href="/stylesheets/application.css" />

  <script src="/components/angular/angular.js"></script>

  <script src="/vendor/x2js-v1.1.5/xml2json.min.js"></script>

  
  <script src="/components/ngCordova/dist/ng-cordova.min.js"></script>

  <script src="/components/angular-touch/angular-touch.min.js"></script>
  <script src="/components/angular-route/angular-route.min.js"></script>
  <script src="/components/angular-animate/angular-animate.min.js"></script>
  <script src="/components/angular-scroll/angular-scroll.min.js"></script>

  <script src="http://localhost/cordova.js"></script>
  <script src="/components/steroids-js/steroids.js"></script>

  <script src="/components/lodash/dist/lodash.min.js"></script>
  <script src="/components/restangular/dist/restangular.min.js"></script>
  <script src="/components/angular-local-storage/dist/angular-local-storage.min.js"></script>

  <script src="/models/towing.js"></script>
  <script src="/models/car.js"></script>
  <script src="/models/message.js"></script>
  <script src="/models/<%= yield.controller %>.js"></script>

  <script src="/controllers/steroidsBridge.js"></script>
  <script src="/controllers/webservice.js"></script>
  <script src="/controllers/menuDrawer.js"></script>
  <script src="/controllers/mainApp.js"></script>
  <script src="/controllers/message.js"></script>
  
  <script src="/controllers/<%= yield.controller %>.js"></script>
  <script src="/controllers/carShowCtrl.js"></script>
  <script src="/controllers/carNewCtrl.js"></script>


  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body class="content" ng-app="<%= yield.controller %>App">

  <%= yield.view %>

</body>
</html>
